@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proximanova_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Proxima Nova", sans-serif;
  background-image: url("/assets/img/bg.svg");
  background-size: cover;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
}

h3 {
  font-size: 28px;
  margin-bottom: 18px;
}
